@font-face {
    font-family: karma-font;
    src: url(../fonts/woff/neotech_light.woff);
    font-weight: lighter;
}

@font-face {
    font-family: karma-font;
    src: url(../fonts/woff/neotech_light_italic.woff);
    font-weight: lighter;
    font-style: italic;
}

@font-face {
    font-family: karma-font;
    src: url(../fonts/woff/neotech.woff);
    font-weight: normal;
}

@font-face {
    font-family: karma-font;
    src: url(../fonts/woff/neotech_italic.woff);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: karma-font;
    src: url(../fonts/woff/neotech_medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: karma-font;
    src: url(../fonts/woff/neotech_medium_italic.woff);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: karma-font;
    src: url(../fonts/woff/neotech_bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: karma-font;
    src: url(../fonts/woff/neotech_bold_italic.woff);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: karma-font;
    src: url(../fonts/woff/neotech_black.woff);
    font-weight: bolder;
}

@font-face {
    font-family: karma-font;
    src: url(../fonts/woff/neotech_black_italic.woff);
    font-weight: bolder;
    font-style: italic;
}


.verticalAlign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.visible {
    display: block;
}

.invisible {
    display: none;
}

.mainMargin {
    width: 975px;
    margin: auto;
    z-index: 5;
    position: relative;
}

.right {
    float: right;
    margin-right: 30px;
}

.left {
    float: left;
    margin-left: 30px;
}

#L_transparent {
    float: left;
    left: 0px;
    top: 0px;
    height: 100%; /* or whatever you want */
    width: 100%; /* or whatever you want */
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    /* opacity: 0.5;*/
    display: none;
    z-index: 99999999;
}

#L_content {
    color: #2187e7;
    font-weight: bold;
    text-align: center;
    display: none;
    z-index: 99999999;
}

#L_modebox {
    position: fixed;
    top: 200px;
    right: 0;
    bottom: 5;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 999999999;
    /*opacity:0;*/
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

    #L_modebox:target {
        /*opacity:1;*/
        pointer-events: auto;
    }

    #L_modebox > div {
        width: 300px;
        position: relative;
        margin: 0 auto;
        padding: 5px 5px 5px 5px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        box-shadow: 0 0 35px #FFF;
        opacity: 1;
        background: #fff;
        z-index: 9999999;
    }

.btn_style {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 9pt;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background: #006CB9;
    color: #FFFFFF;
    padding: 6px 10px 6px 10px;
    min-width: 80px;
    border: solid 0px white;
    cursor: pointer;
}

body {
    min-width: 1200px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: karma-font;
    font-weight: lighter;
}

header {
    height: 485px;
}

    header .upperPhoto {
        width: 100%;
        height: 28px;
    }

        header .upperPhoto > div {
            background-color: #ED1B24;
            height: 56px;
            width: 268px;
            float: right;
            -webkit-border-radius: 36px 0px 15px 160px;
            -moz-border-radius: 36px 0px 15px 160px;
            border-radius: 36px 0px 15px 160px;
            position: relative;
            bottom: 28px;
        }

    header .companyLogo {
        height: 96px;
    }

        header .companyLogo .right {
            float: right;
        }

            header .companyLogo .right .txt_big {
                font-family: karma-font;
                font-weight: lighter;
                color: #EBEBEB;
                font-size: 29pt;
                position: absolute;
                top: 58px;
                left: 607px;
            }

                header .companyLogo .right .txt_big > span {
                    font-weight: 500;
                    font-size: 40px;
                }

            header .companyLogo .right .txt_small {
                font-family: karma-font;
                font-weight: lighter;
                font-size: 11pt;
                position: absolute;
                top: 78px;
                left: 627px;
            }

                header .companyLogo .right .txt_small > span {
                    font-weight: 500;
                    font-size: 15px;
                }

        header .companyLogo .left {
            float: left;
        }

    header .header {
        height: 28px;
    }

        header .header > div {
            background-color: #ED1B24;
            height: 56px;
            width: 420px;
            float: right;
            -webkit-border-radius: 160px 36px 0px 0px;
            -moz-border-radius: 160px 36px 0px 0px;
            border-radius: 160px 36px 0px 0px;
        }

            header .header > div > nav {
                float: left;
                top: 8px;
                color: #FFFFFF;
                left: 29px;
                font-size: 14pt;
                position: relative;
            }

                header .header > div > nav a {
                    text-decoration: none;
                    margin: 0px 10px 0px 10px;
                    color: #FFFFFF;
                }

    header .banner {
        border: solid #ACB0AF 1px;
        -webkit-border-radius: 15px 15px 15px 15px;
        -moz-border-radius: 15px 15px 15px 15px;
        border-radius: 15px 15px 15px 15px;
        z-index: 1;
        height: 286px;
        top: -25px;
        position: relative;
        width: 976px;
        background-color: #FFFFFF;
        overflow: hidden;
    }

        header .banner > #img6 {
            position: absolute;
            left: 96px;
            bottom: 54px;
        }

        header .banner > #img13 {
            position: absolute;
            left: 80px;
            bottom: 94px;
        }

        header .banner > #img_logo_white {
            position: absolute;
            left: 729px;
            bottom: 113px;
        }

        header .banner > div {
            position: relative;
            right: -40px;
            top: 167px;
        }

            header .banner > div .txt_big {
                font-family: karma-font;
                font-weight: lighter;
                color: #EBEBEB;
                font-size: 25pt;
                position: absolute;
                top: 66px;
                left: 599px;
            }

                header .banner > div .txt_big > div {
                    font-weight: 500;
                }

                header .banner > div .txt_big > span {
                    font-weight: 500;
                    font-size: 40px;
                }

            header .banner > div .txt_small {
                font-family: karma-font;
                font-weight: lighter;
                font-size: 14pt;
                position: absolute;
                top: 80px;
                left: 610px;
            }

                header .banner > div .txt_small > div {
                    font-weight: 500;
                }

                header .banner > div .txt_small > span {
                    font-weight: 500;
                    font-size: 15px;
                }


    header .footer {
        width: 100%;
        height: 28px;
        position: relative;
        top: -22px;
    }

        header .footer > div {
            background-color: #ED1B24;
            height: 56px;
            width: 420px;
            float: left;
            -webkit-border-radius: 36px 0px 15px 160px;
            -moz-border-radius: 36px 0px 15px 160px;
            border-radius: 0px 9px 160px 36px;
            position: absolute;
            bottom: 0px;
        }

            header .footer > div .txt_welcome {
                position: absolute;
                top: 30px;
                left: 16px;
                color: #FFFFFF;
                font-family: inherit;
                font-size: 14pt;
                font-weight: 500;
            }

                header .footer > div .txt_welcome > span {
                    font-family: inherit;
                    font-weight: 100;
                    font-size: 15pt;
                }

footer {
    background-color: #ED1B24;
    height: 50px;
    -webkit-border-radius: 9px 9px 0px 0px;
    -moz-border-radius: 9px 9px 0px 0px;
    border-radius: 9px 9px 0px 0px;
    color: #FFFFFF;
    font-size: 12pt;
}

    footer > div {
        height: 16px;
    }

        footer > div .left > nav a {
            color: #FFFFFF;
            margin: 0px 10px 0px 10px;
        }

        footer > div .right {
        }

.pageContent {
    overflow: hidden;
    background: #FCFCFC;
    z-index: 1;
    min-height: 618px;
}


.products1Page {
    text-align: justify;
    color: #8E8E8E;
}

    .products1Page .upperContent {
        font-size: 14pt;
        margin-top: 35px;
    }

        .products1Page .upperContent .header {
            height: 50px;
            margin-bottom: 10px;
        }
        .products1Page .upperContent .header .img_header {
            /* height: 50px; */
            position: absolute;
        
            top: 10px;
            left: 852px;
}
        
        
            .products1Page .upperContent .header .txt_header {
                position: relative;
            }

                .products1Page .upperContent .header .txt_header .txt_big {
                    font-size: 32pt;
                    position: absolute;
                    color: #EBEBEB;
                    top: -1px;
                }

                    .products1Page .upperContent .header .txt_header .txt_big > span {
                        font-size: 30pt;
                        font-weight: 500;
                    }

                .products1Page .upperContent .header .txt_header .txt_small {
                    font-size: 15pt;
                    font-weight: lighter;
                    color: #797979;
                    position: absolute;
                    top: 18px;
                    left: 18px;
                }

                    .products1Page .upperContent .header .txt_header .txt_small > span {
                        font-weight: 500;
                    }

            .products1Page .upperContent .header .line_header {
                background-color: #888888;
                height: 2px;
                float: right;
                left: -113px;
                width: 676px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                position: relative;
                top: 35px;
            }

        .products1Page .upperContent .txt_UpperContent {
        }

    .products1Page .products1Ul {
        margin: 30px 0px 0px 0px;
    }

        .products1Page .products1Ul li {
            display: inline-block;
            vertical-align: top;
            font-size: 14pt;
            /* margin-right: 13px; */
            width: 484px;
        }

            .products1Page .products1Ul li:last-child {
                margin: 0px 0px 0px 0px;
            }

            .products1Page .products1Ul li .praghL {
            }

                .products1Page .products1Ul li .praghL .pragh {
                    width: 314px;
                    height: 220px;
                    float: right;
                    margin-right: 4px;
                }

                .products1Page .products1Ul li .praghL .praghImg {
                    float: left;
                }

                    .products1Page .products1Ul li .praghL .praghImg > img {
                    }

                .products1Page .products1Ul li .praghL .pragh_header {
                    position: relative;
                    height: 56px;
                    width: 177px;
                    -webkit-border-radius: 20px 20px 0px 0px;
                    -moz-border-radius: 20px 20px 0px 0px;
                    border-radius: 20px 20px 0px 0px;
                    top: -3px;
                }

                    .products1Page .products1Ul li .praghL .pragh_header .txt_pragh_header {
                        height: 32px;
                        position: relative;
                        color: #FFFFFF;
                        top: 10px;
                        left: 10px;
                    }

                        .products1Page .products1Ul li .praghL .pragh_header .txt_pragh_header .txt_big {
                            position: absolute;
                            color: rgba(255, 255, 255, 0.26);
                            font-size: 20pt;
                            top: 5px;
                            left: 5px;
                        }

                            .products1Page .products1Ul li .praghL .pragh_header .txt_pragh_header .txt_big > span {
                                font-weight: 500;
                            }

                        .products1Page .products1Ul li .praghL .pragh_header .txt_pragh_header .txt_small {
                            position: absolute;
                            color: #FFFFFF;
                            top: 14px;
                            font-size: 11.5pt;
                            left: 24px;
                        }

                            .products1Page .products1Ul li .praghL .pragh_header .txt_pragh_header .txt_small > span {
                            }

                .products1Page .products1Ul li .praghL .pragh_content {
                    border: solid #ACB0AF 1px;
                    -webkit-border-radius: 15px 15px 15px 15px;
                    -moz-border-radius: 15px 15px 15px 15px;
                    border-radius: 15px 15px 15px 15px;
                    z-index: 1;
                    top: -25px;
                    padding: 10px;
                    background-color: #FFFFFF;
                    position: relative;
                    width: 291px;
                    overflow: hidden;
                }

                    .products1Page .products1Ul li .praghL .pragh_content .txt_pragh_content {
                        text-align: justify;
                        width: 250px;
                        height: 150px;
                    }


            .products1Page .products1Ul li .praghR {
            }

                .products1Page .products1Ul li .praghR .pragh {
                    float: left;
                    margin-left: 4px;
                    width: 314px;
                    height: 220px;
                }

                .products1Page .products1Ul li .praghR .praghImg {
                    float: right;
                }

                    .products1Page .products1Ul li .praghR .praghImg > img {
                    }

                .products1Page .products1Ul li .praghR .pragh_header {
                    position: relative;
                    height: 56px;
                    width: 177px;
                    -webkit-border-radius: 20px 20px 0px 0px;
                    -moz-border-radius: 20px 20px 0px 0px;
                    border-radius: 20px 20px 0px 0px;
                    top: -3px;
                    left: 136px;
                }

                    .products1Page .products1Ul li .praghR .pragh_header .txt_pragh_header {
                        height: 32px;
                        position: relative;
                        color: #FFFFFF;
                        top: 10px;
                        left: 10px;
                    }

                        .products1Page .products1Ul li .praghR .pragh_header .txt_pragh_header .txt_big {
                            position: absolute;
                            color: rgba(255, 255, 255, 0.26);
                            font-size: 20pt;
                            top: 5px;
                            left: 5px;
                        }

                            .products1Page .products1Ul li .praghR .pragh_header .txt_pragh_header .txt_big > span {
                                font-weight: 500;
                            }

                        .products1Page .products1Ul li .praghR .pragh_header .txt_pragh_header .txt_small {
                            position: absolute;
                            color: #FFFFFF;
                            top: 14px;
                            font-size: 11.5pt;
                            left: 24px;
                        }

                            .products1Page .products1Ul li .praghR .pragh_header .txt_pragh_header .txt_small > span {
                            }

                .products1Page .products1Ul li .praghR .pragh_content {
                    border: solid #ACB0AF 1px;
                    -webkit-border-radius: 15px 15px 15px 15px;
                    -moz-border-radius: 15px 15px 15px 15px;
                    border-radius: 15px 15px 15px 15px;
                    z-index: 1;
                    top: -25px;
                    padding: 10px;
                    background-color: #FFFFFF;
                    position: relative;
                    width: 291px;
                    overflow: hidden;
                }

                    .products1Page .products1Ul li .praghR .pragh_content .txt_pragh_content {
                        text-align: justify;
                        width: 250px;
                        height: 150px;
                    }

                    /*colors*/
.mouve {
background-color:#A97EA9;
}
.yellow {
background-color:#F9D401;
}
.nave {
background-color:#941952;
}
.black {
background-color:#524B41;
}


.products2Page {
    text-align: justify;
    color: #8E8E8E;
}

    .products2Page .upperContent {
        font-size: 14pt;
        margin-top: 35px;
    }

        .products2Page .upperContent .header {
            height: 50px;
            margin-bottom: 10px;
        }
        .products2Page .upperContent .header .img_header {
            /* height: 50px; */
            position: absolute;
        
            top: 10px;
            left: 852px;
}
        
        
            .products2Page .upperContent .header .txt_header {
                position: relative;
            }

                .products2Page .upperContent .header .txt_header .txt_big {
                    font-size: 32pt;
                    position: absolute;
                    color: #EBEBEB;
                    top: -1px;
                }

                    .products2Page .upperContent .header .txt_header .txt_big > span {
                        font-size: 30pt;
                        font-weight: 500;
                    }

                .products2Page .upperContent .header .txt_header .txt_small {
                    font-size: 15pt;
                    font-weight: lighter;
                    color: #797979;
                    position: absolute;
                    top: 18px;
                    left: 18px;
                }

                    .products2Page .upperContent .header .txt_header .txt_small > span {
                        font-weight: 500;
                    }

            .products2Page .upperContent .header .line_header {
                background-color: #888888;
                height: 2px;
                float: right;
                left: -113px;
                width: 676px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                border-radius: 10px;
                position: relative;
                top: 35px;
            }

        .products2Page .upperContent .txt_UpperContent {
        }

    .products2Page .products2Ul {
        margin: 30px 0px 0px 0px;
    }

        .products2Page .products2Ul li {
            display: inline-block;
            vertical-align: top;
            font-size: 14pt;
            /* margin-right: 13px; */
            width: 484px;
        }

            .products2Page .products2Ul li:last-child {
                margin: 0px 0px 0px 0px;
            }

            .products2Page .products2Ul li .praghL {
            }

                .products2Page .products2Ul li .praghL .pragh {
                    width: 314px;
                    height: 220px;
                    float: right;
                    margin-right: 4px;
                }

                .products2Page .products2Ul li .praghL .praghImg {
                    float: left;
                }

                    .products2Page .products2Ul li .praghL .praghImg > img {
                    }

                .products2Page .products2Ul li .praghL .pragh_header {
                    position: relative;
                    height: 56px;
                    width: 177px;
                    -webkit-border-radius: 20px 20px 0px 0px;
                    -moz-border-radius: 20px 20px 0px 0px;
                    border-radius: 20px 20px 0px 0px;
                    top: -3px;
                }

                    .products2Page .products2Ul li .praghL .pragh_header .txt_pragh_header {
                        height: 32px;
                        position: relative;
                        color: #FFFFFF;
                        top: 10px;
                        left: 10px;
                    }

                        .products2Page .products2Ul li .praghL .pragh_header .txt_pragh_header .txt_big {
                            position: absolute;
                            color: rgba(255, 255, 255, 0.26);
                            font-size: 20pt;
                            top: 5px;
                            left: 5px;
                        }

                            .products2Page .products2Ul li .praghL .pragh_header .txt_pragh_header .txt_big > span {
                                font-weight: 500;
                            }

                        .products2Page .products2Ul li .praghL .pragh_header .txt_pragh_header .txt_small {
                            position: absolute;
                            color: #FFFFFF;
                            top: 14px;
                            font-size: 11.5pt;
                            left: 24px;
                        }

                            .products2Page .products2Ul li .praghL .pragh_header .txt_pragh_header .txt_small > span {
                            }

                .products2Page .products2Ul li .praghL .pragh_content {
                    border: solid #ACB0AF 1px;
                    -webkit-border-radius: 15px 15px 15px 15px;
                    -moz-border-radius: 15px 15px 15px 15px;
                    border-radius: 15px 15px 15px 15px;
                    z-index: 1;
                    top: -25px;
                    padding: 10px;
                    background-color: #FFFFFF;
                    position: relative;
                    width: 291px;
                    overflow: hidden;
                }

                    .products2Page .products2Ul li .praghL .pragh_content .txt_pragh_content {
                        text-align: justify;
                        width: 250px;
                        height: 150px;
                    }


            .products2Page .products2Ul li .praghR {
            }

                .products2Page .products2Ul li .praghR .pragh {
                    float: left;
                    margin-left: 4px;
                    width: 314px;
                    height: 220px;
                }

                .products2Page .products2Ul li .praghR .praghImg {
                    float: right;
                }

                    .products2Page .products2Ul li .praghR .praghImg > img {
                    }

                .products2Page .products2Ul li .praghR .pragh_header {
                    position: relative;
                    height: 56px;
                    width: 177px;
                    -webkit-border-radius: 20px 20px 0px 0px;
                    -moz-border-radius: 20px 20px 0px 0px;
                    border-radius: 20px 20px 0px 0px;
                    top: -3px;
                    left: 136px;
                }

                    .products2Page .products2Ul li .praghR .pragh_header .txt_pragh_header {
                        height: 32px;
                        position: relative;
                        color: #FFFFFF;
                        top: 10px;
                        left: 10px;
                    }

                        .products2Page .products2Ul li .praghR .pragh_header .txt_pragh_header .txt_big {
                            position: absolute;
                            color: rgba(255, 255, 255, 0.26);
                            font-size: 20pt;
                            top: 5px;
                            left: 5px;
                        }

                            .products2Page .products2Ul li .praghR .pragh_header .txt_pragh_header .txt_big > span {
                                font-weight: 500;
                            }

                        .products2Page .products2Ul li .praghR .pragh_header .txt_pragh_header .txt_small {
                            position: absolute;
                            color: #FFFFFF;
                            top: 14px;
                            font-size: 11.5pt;
                            left: 24px;
                        }

                            .products2Page .products2Ul li .praghR .pragh_header .txt_pragh_header .txt_small > span {
                            }

                .products2Page .products2Ul li .praghR .pragh_content {
                    border: solid #ACB0AF 1px;
                    -webkit-border-radius: 15px 15px 15px 15px;
                    -moz-border-radius: 15px 15px 15px 15px;
                    border-radius: 15px 15px 15px 15px;
                    z-index: 1;
                    top: -25px;
                    padding: 10px;
                    background-color: #FFFFFF;
                    position: relative;
                    width: 291px;
                    overflow: hidden;
                }

                    .products2Page .products2Ul li .praghR .pragh_content .txt_pragh_content {
                        text-align: justify;
                        width: 250px;
                        height: 150px;
                    }
